{% extends "base.html" %}
{% block content %}
    <!-- <main class="px-3"> -->
    <div class="container" style="max-width: 400px;">
        <div class="card custom-light-green-bg">
            <div class="card-body">
            <h2>Login</h2>
            {% if messages %}
                    <div class="alert alert-danger">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
            {% endif %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <!-- {{ form.as_p }} -->
                <div class="form-group {% if form.username.errors %}has-error{% endif %} mb-2">
                    <!-- {{ form.username.label_tag }} -->
                    <label for="id_username">Email:</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                      <div class="text-danger">
                        {% for error in form.username.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-group {% if form.password.errors %}has-error{% endif %} mb-2">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {% if form.password.errors %}
                      <div class="text-danger">
                        {% for error in form.password.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
        </div>
    </div>
    </div>
    <!-- </main> -->
{% endblock %}
