{% extends "base.html" %}
{% block content %}
    <div class="container" style="max-width: 400px;">
        <div class="card custom-light-green-bg">
            <div class="card-body">
            {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
            <form action="" method='POST'>
                {% csrf_token %}
                <h3><strong>Verify Email</strong></h3>
                <div class="mb-3">
                    <label class="form-label">OTP</label>
                    <input class="form-control" name="otp_code" placeholder="Enter OTP">
                  </div>
              
                  <button class="btn btn-primary" style="width:100%">Activate Account</button>
                  <p>Need a new OTP? <a href="{% url 'resend-otp' %}">Resend OTP</a></p>
              
            </form>
            </div>
        </div>
    </div>
{% endblock %}
