{% extends "base_superuser.html" %}
{% block content %}
  <div class="container mt-3 p-2 rounded shadow-lg text-center fixed-length">

    <h2>ICO Details</h2>

    <div class="row">
        <div class="col-md-6">
            <p><strong>Crop:</strong> {{ ico.crop }}</p>
            <p><strong>Land Area:</strong> {{ ico.land_area }} sq. meters</p>
            <p><strong>Capital:</strong> {{ ico.capital|floatformat:2 }} Rs</p>
            <p><strong>Price:</strong> {{ ico.price|floatformat:2 }}</p>
        </div>
        <div class="col-md-6">
            <p><strong>Quantity:</strong> {{ ico.quantity }}</p>
            <p><strong>Created At:</strong> {{ ico.created_at|date:"Y-m-d" }}</p>
            <p><strong>Closes On:</strong> {{ ico.closes_on|date:"Y-m-d" }}</p>
            <p><strong>Return Date:</strong> {{ ico.return_date|date:"Y-m-d" }}</p>
        </div>
    </div>

    <h4>Farmer Details</h4>
    <div class="row">
        <div class="col-md-6">
            <p><strong>Name:</strong> {{ ico.farmer.user.first_name }}</p>
            <p><strong>UserName:</strong> {{ ico.farmer.user.username }}</p>
            <p><strong>Land Area:</strong> {{ ico.farmer.land_area }} sq. meters</p>
        </div>
        <div class="col-md-6">
            <p><strong>Aadhar No:</strong> {{ ico.farmer.aadhar_number }}</p>
            <p><strong>PAN No:</strong> {{ ico.farmer.pan_number }}</p>
            <p><strong>Documents:</strong> <a href="{{ ico.farmer.documents.url }}" target="_blank">view documents</a></p>
        </div>
    </div>

    {% if history %}
    <div class="row mt-3">
        <h4>{{ ico.farmer.user.first_name }}'s Farming History</h4>
        <div class="col-md-8 mx-auto">
            <table class="table table-bordered">
                <thead>
                    <tr style="background-color: rgb(255, 226, 9)">
                        <th>Season</th>
                        <th>Year</th>
                        <th>Crop</th>
                        <th>Area Cultivated(sq. meters)</th>
                        <th>Revenue(&#8377;)</th>
                        <th>Expenses(&#8377;)</th>
                        <th>Profit/Loss(%)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for history_entry in history %}
                        <tr>
                            <td>{{ history_entry.season }}</td>
                            <td>{{ history_entry.year }}</td>
                            <td>{{ history_entry.crop }}</td>
                            <td>{{ history_entry.area_cultivated }}</td>
                            <td>{{ history_entry.revenue }}</td>
                            <td>{{ history_entry.expenses }}</td>
                            {% if history_entry.revenue > history_entry.expenses %}
                                <td style="background-color: rgb(121, 222, 121)">
                                    {{ history_entry.percentage|floatformat:2 }}
                                </td>
                            {% else %}
                                <td style="background-color: rgb(239, 91, 91)">
                                    {{ history_entry.percentage|floatformat:2 }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if ico.isVerified == False and ico.is_rejected == False %}
    <div class="row mt-3">
        <div class="col-md-4 mx-auto">
            <a class="btn btn-success btn-block" href="{% url 'superuser:approve_ico' ico.id %}">Approve ICO</a>
        </div>
        <div class="col-md-4 mx-auto">
            <button class="btn btn-danger btn-block" data-toggle="modal" data-target="#myModal">Reject ICO</button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Reject ICO</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your form goes here -->
                    <form method="post" action="{% url 'superuser:reject_ico' ico.id %}">
                        {% csrf_token %}
                        <!-- Add your form fields here -->
                        {{ form.as_p }}
                        <!-- Add more form fields as needed -->
                        <!-- <div id="form-errors"></div> -->
                        <button type="submit" class="btn btn-success mt-3">Reject ICO</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if ico.is_remaining %}
    <div class="text-center">
        <a href="{% url 'superuser:force_ico_returns' ico.id %}" class="btn btn-warning mt-1">Force Transfer</a>
    </div>
    {% endif %}

  </div>

{% endblock %}
